<div id="<%= dom_id list %>">
  <p>
    <strong>Lists:</strong>
    <%= list.id %>
    <%= list.name %>
    <%= list.row_order %>
  </p>

</div>

<ul data-controller="sortable">
  <% list.tasks.rank(:row_order).each do |task| %>
    <li data-sortable-id="<%= task.id %>">
      <%= render task%>
    </li>
  <% end %>
</ul>