<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<div id="lists">
  <ul data-controller="sortable" data-sortable-group-value="lists">
    <% @lists.each do |list| %>
      <li data-sortable-update-url="<%= sort_list_path(list) %>" class="list-container">
        <div class="sticky-note">
          <%= render list %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'New List', new_list_path, class: 'btn btn-primary' %>

<%= link_to "New Task", new_task_path, class: 'btn btn-primary' %>
