<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to "Edit Tasks", edit_task_path(@task) %> |
  <%= link_to "Back To Tasks", tasks_path %>

  <%= button_to "Delete Task", @task, method: :delete %>
</div>
