<%= form_with(model: @collegemodule, local: true) do |form| %>
  <% if @collegemodule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collegemodule.errors.count, "error") %> prohibited this collegemodule from being saved:</h2>

      <ul>
        <% @collegemodule.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :module_name %>
    <%= form.text_field :module_name %>
  </div>

  <div class="field">
    <%= form.label :module_id %>
    <%= form.text_field :module_id %>
  </div>

  <div class="field">
    <%= form.label :module_lecturer %>
    <%= form.text_field :module_lecturer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
