
<p style="color: green"><%= notice %></p>

<%= render @collegemodule %>

<div>
  <%= link_to "Edit Module", edit_collegemodule_path(@collegemodule) %> |
  <%= link_to "Return", collegemodules_path %>

  <%= button_to "Delete Module", @collegemodule, method: :delete %>
</div>
