<!DOCTYPE html>
<html>
  <head>
    <title>Calendar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      .container {
        display: flex;
      }
      .lists {
        width: 25%;
        max-width: 35%;
        border-right: 1px solid #ccc;
        padding: 10px;
      }
      .calendar {
        flex: 1;
        padding: 10px;
      }
      .list {
        margin-bottom: 20px;
      }
      .task {
        margin: 5px 0;
        padding: 5px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
